$% extends "html/base.html" %$

$% block title %$ Agents &raquo; JobManager $% endblock %$

$% block content %$
<div id="app">

  <div class="ui container" v-cloak>

    <h1 class="ui header">Agents</h1>

    <div v-if="agents.length === 0" class="ui divider"></div>

    <transition-group name="list" tag="div">
      <div v-for="a in agents" class="agents" v-bind:key="a.id">
        <div class="ui divider"></div>
        <div class="agent">
          <div class="agent-left">
            <div>
              <a class="ui header" v-bind:href="'/agents/' + a.id">{{ a.id }}</a>
              <div class="ui label" v-for="c in a.capabilities">
                  {{ c }}
              </div>
            </div>
            <div class="description" :title="a.startTime | moment('dddd, D MMMM YYYY, h:mm:ss a')">
              Up since {{ formatUptime(a.startTime) }}
            </div>
          </div>
          <div class="agent-right">
            <div class="ui steps">
              <div class="step" v-if="a.available === true">
                <i class="pause circle grey icon"></i>
                <div class="content">
                  <div class="title">Idle</div>
                  <div class="description" :title="a.stateChangedTime | moment('dddd, D MMMM YYYY, h:mm:ss a')">
                    {{ formatUptime(a.stateChangedTime) }}
                  </div>
                </div>
              </div>
              <div class="running step active" v-if="a.available !== true">
                <i class="cog grey icon"></i>
                <div class="content">
                  <div class="title">Busy</div>
                  <div class="description" :title="a.stateChangedTime | moment('dddd, D MMMM YYYY, h:mm:ss a')">
                    {{ formatUptime(a.stateChangedTime) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition-group>
    <p v-if="agents.length === 0">There are no agents.</p>

  </div>

</div>

<script src="/assets/sockjs-client/1.3.0/dist/sockjs.min.js"></script>
<script src="/assets/vertx-web-3.6.2-client.js"></script>
<script src="/assets/vue/2.6.6/dist/vue.min.js"></script>
<script src="/assets/vue-moment/4.0.0/dist/vue-moment.min.js"></script>

<script>
window.agents = $$ agents | raw $$;
</script>

<script src="$$ assets.agentsjs $$"></script>
$% endblock %$
