#app {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.ui.text.top.menu.top {
    margin-top: 0;
    padding-top: 1.5em;
}

.ui .code.segment {
  background: #3f3f3f;
}

.ui.header a {
  color: rgba(0, 0, 0, .87);
}

[v-cloak] {
  display: none !important;
}

.workflows, .processchains {
  h1 {
    float: left;
  }

  .ui.button:focus {
    background-color: #e0e1e2;
    color: rgba(0, 0, 0, .6);
  }
}

.workflow, .agent, .processchain, .service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0 2rem 0;

  .ui.steps .step {
    min-width: 210px;
    justify-content: left;

    &.active .title {
      color: rgba(0,0,0,.87);
    }
  }
}

.workflow-left, .agent-left, .processchain-left, .service-left {
  flex: 1;
  padding-bottom: 1rem;
}

.agent-left, .processchain-left, .service-left {
  .header {
    margin-right: .5rem;
  }

  .capabilities .labels, .runtime .labels {
    margin-top: .3rem;
  }
}

.service-left {
  .description {
    margin-bottom: 2rem;
  }

  .parameters {
    margin-top: 2rem;
  }

  .ui.header .sub.header {
    font-weight: 400;
    color: rgba(0,0,0,.6);
  }

  .ui .segment {
    min-height: ~"calc(100% - 1rem)";
    margin-bottom: 1rem;
  }

  .ui.grid {
    margin-top: 1rem;
  }

  .ui.grid>.doubling.row, .ui.grid>.doubling.row>.column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .ui.list {
    h5.ui.header {
      margin-top: 1rem;
    }
  }
}

.description.red {
  color: #db2828 !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.running.active .cog.icon {
  animation: spin 4s linear infinite;
}

.list-enter-active, .agent-list-enter-active, .agent-list-leave-active, .message-leave-active {
  transition: opacity 500ms;
}

.list-enter, .list-leave-to, .agent-list-enter, .agent-list-leave-to, .message-leave-to {
  opacity: 0;
}

.errormessage {
  margin-bottom: 1rem;
}

.new-items-message {
  max-width: 40rem;
  position: fixed;
  right: 20px;
  bottom: 20px;

  .ui.message .header {
    margin-right: 1rem;
  }
}

#workflow-graph {
  position: absolute;
  left: 10000px;
  top: 0px;

  margin-bottom: 1rem;

  g.file > rect {
    fill: #fff;
  }

  g.execute > rect {
    fill: #f3f4f4;
  }

  text {
    fill: #212121;
  }

  .node rect {
    fill: #fff;
    stroke: #dfdfdf;
    stroke-width: 1px;
  }

  .cluster rect {
    fill: #fff;
    stroke: #dfdfdf;
    stroke-width: 3px;
  }

  .edgePath path {
    fill: #757575;
    stroke: #757575;
    stroke-width: 1px;
  }

  path.arrowhead {
    stroke: none;
  }

  .icon-container {
    display: inline-block;
    width: 1.1em;
    height: 1rem;

    i.icon {
      display: inline;
      margin-right: 0;
    }

    .file.icon {
      margin-left: 2px;
    }
  }
}

.container {
  position: relative;
}

.beta-switcher {
  position: absolute;
  top: 1.25rem;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: #f0d030;
  border-radius: 5px;

  a {
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}
