@import "css/variables";

.log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 30rem;
  max-height: 30rem;
  width: 100%;

  &.error {
    min-height: auto;
    max-height: auto;
  }
}

.left-two-columns {
  .detail-header-middle {
    margin-top: 1rem;
  }

  @media (min-width: $xl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;

    .detail-header-middle {
      margin-top: 0;
    }
  }
}
