.process-chain-overview {
  .breadcrumbs {
    margin-bottom: 1rem;
  }

  .process-chain-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.45rem;
  }
}
