@import "../css/variables";

.alert {
  background-color: var(--gray-100);
  padding: $spacer;
  margin: $spacer * 1.5 0;
  border-left: 9px solid transparent;

  &.info {
    border-color: var(--primary);
  }

  &.warning {
    border-color: var(--warning);
  }

  &.error {
    border-color: var(--error);
  }

  &.small {
    padding: $spacer * 0.5;
    margin: 0;
  }

  :global(*):first-child {
    margin-top: 0;
  }

  :global(*):last-child {
    margin-bottom: 0;
  }
}
