@import "css/variables";

.pre {
  &, :global(.hljs) {
    background: $gray-700;
    color: #fff;
  }
}

.pre {
  border-radius: $border-radius;
  padding: $spacer / 2 0;
  margin-top: 0;
  flex: 1;

  &.has-tab {
    border-top-left-radius: 0;
  }

  .code {
    height: calc(100% - #{$spacer});
    margin: $spacer / 2 $spacer;
    display: block;
    overflow: auto;
  }
}
