@import "css/variables";

.code-box {
  display: flex;
  flex-direction: column;

  .code-box-title {
    display: flex;
    flex-direction: row;

    .code-box-title-tab {
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: .5rem 1rem;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border: 1px solid var(--border-color);
      border-bottom: none;
      z-index: 0;
      transition: background-color 0.15s ease-in-out;
      margin-right: -1px;

      &:not(.active):hover {
        background-color: var(--gray-300);
      }

      &.active {
        transition: none;
        background-color: var(--code-bg);
        border-color: var(--code-bg);
        color: var(--code-fg);
        z-index: 1;
      }
    }
  }

  .code-box-tab {
    display: none;

    &.active {
      display: block;
    }
  }

  .code-box-copy-btn {
    position: absolute;
    top: $spacer;
    right: $spacer;
    color: var(--code-fg);
    cursor: pointer;

    :hover {
      color: var(--gray-300);
    }
  }

  .code-box-main {
    position: relative;
  }

  :global(.hljs), :global(pre) {
    background: var(--code-bg);
    color: var(--code-fg);
  }

  :global(pre) {
    border-radius: $border-radius;
    border-top-left-radius: 0;
    padding: $spacer * 0.5 0;
    margin-top: 0;

    :global(code) {
      margin: $spacer * 0.5 $spacer;
      display: block;
      overflow: auto;
    }
  }
}

.highlighting-disabled {
  position: relative;
  padding: .5rem 1rem;
  flex: 1;
  text-align: right;
  color: var(--error);
  font-weight: 400;
}
