@import "../css/variables";

.dropdown {
  position: relative;

  :global(a) {
    color: var(--gray-700);
    text-decoration: none;
  }

  :global(ul) :global(li) {
    white-space: nowrap;

    :global(svg) {
      margin-bottom: 2px;
    }
  }

  .dropdown-btn {
    font-size: $font-size-base;
    color: var(--gray-700);
    background-color: var(--gray-100);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    padding: .6em .75em .4em 1em;
    cursor: pointer;
    white-space: nowrap;

    :global(svg) {
      margin-top: -1px;
      margin-bottom: 1px;
    }

    &.primary {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--bg);
    }

    &.small {
      padding: .3em .5em .2em .5em;
      font-weight: 300;
      font-size: $font-size-sm;

      :global(svg) {
        margin-top: 0;
        width: 1.2em;
      }
    }

    &:hover, &:focus {
      background-color: var(--gray-700);
      border-color: var(--gray-700);
      color:  var(--bg);
      outline: none;
    }

    @media (max-width: $sm) {
      padding: .5em;
      .dropdown-text:not(.force-visible) {
        display: none;
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 1rem;
    z-index: 1;

    &.right {
      right: 0;
      left: auto;
    }

    &.visible {
      display: block;
    }

    &:not(.force-title-visible) {
      @media (max-width: $sm) {
        right: 0;
        left: auto;
      }
    }

    :global(ul) {
      background-color: var(--bg);
      margin: $spacer * 0.25 0 0 0;
      list-style-type: none;

      color: var(--gray-700);
      border: 1px solid var(--border-color);
      border-radius: $border-radius;
      padding: .35em 0em;

      box-shadow: var(--drop-down-box-shadow);

      :global(li) {
        display: block;
        padding: $spacer * 0.25 1em;
        cursor: pointer;

        &:hover {
          background-color: var(--gray-300);
        }
      }
    }
  }
}
