@import "../css/variables";

.label {
  font-size: .75rem;
  margin-top: .15rem;
  background-color: var(--gray-200);
  padding: .15rem .5rem .25rem .5rem;
  border-radius: $border-radius;
  white-space: nowrap;

  &.label-small {
    font-size: .6rem;
  }

  margin-right: $spacer * 0.25;

  &:last-child {
    margin-right: 0;
  }
}
