@import "../css/variables";

@keyframes list-item-just-added {
  0% {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    max-height: 10rem;
    opacity: 1;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }
}

@keyframes list-item-just-left {
  0% {
    max-height: 10rem;
    opacity: 1;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }
  99% {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-color: var(--bg);
  }
  100% {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: $spacer * 2 0;
  border-top: 1px solid var(--border-color);

  @media (max-width: $sm) {
    flex-direction: column;
  }

  &.just-added, &.just-left {
    will-change: max-height, opacity, padding-top, padding-bottom;
    overflow: hidden;
  }

  &.just-added {
    animation: list-item-just-added .5s;
  }

  &.just-left {
    animation: list-item-just-left .5s;
    animation-fill-mode: forwards;
  }

  .list-item-title {
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .list-item-subtitle {
    font-size: $font-size-sm;
  }

  &.deleted {
    opacity: 0.5;
  }

  &.deleted .list-item-title-link {
    text-decoration: line-through;
  }
}
