@import "../css/variables";

.list-item {
  display: flex;
  justify-content: space-between;
  padding: $spacer * 2 0;

  &:not(:first-of-type) {
    border-top: 1px solid $gray-300;
  }

  h4 {
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  .list-item-progress-box {
    border: 1px solid $gray-300;
    border-radius: $border-radius / 2;
    padding: $spacer * 0.75 $spacer * 2 $spacer * 0.75 $spacer * 1.25;
    display: flex;
    align-items: center;
    line-height: 1.4rem;

    .feather {
      height: 3.5rem;
      width: auto;
      stroke: #1a6;
      margin-right: $spacer / 2;
    }
  }
}
