@import "../css/variables";

.list-item-progress-box {
  border: 1px solid $gray-300;
  border-radius: $border-radius / 2;
  padding: $spacer * 0.75 $spacer $spacer * 0.75 $spacer * 1.25;
  display: flex;
  align-items: center;
  line-height: 1.4rem;
  font-size: $font-size-sm;
  margin-left: $spacer;
  min-width: 14rem;
  max-width: 100%;

  .feather {
    height: 3rem;
    width: auto;
    margin-right: $spacer / 2;

    &.accepted {
      stroke: $gray-600;
    }

    &.running {
      stroke: $gray-600;
      animation: list-item-spin 4s linear infinite;
    }

    &.cancelled, &.idle {
      stroke: $gray-500;
    }

    &.partial-success {
      stroke: $warning;
    }

    &.success {
      stroke: $success;
    }

    &.error, &.left {
      stroke: $error;
    }
  }

  @media (max-width: $sm) {
    margin-left: 0;
    margin-top: $spacer;
    width: 100%;
  }
}
