@import "../css/variables";

@keyframes list-item-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes list-item-pulse {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.3;
  }

  60% {
    opacity: 1
  }
}

.list-item-progress-box {
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  padding: $spacer * 0.75 $spacer $spacer * 0.75 $spacer * 1.25;
  display: flex;
  align-items: center;
  line-height: 1.4rem;
  font-size: $font-size-sm;
  margin-left: $spacer;
  min-width: 14rem;
  max-width: 100%;

  .feather {
    height: 3rem;
    width: auto;
    margin-right: $spacer * 0.5;

    &.creating {
      stroke: var(--gray-600);
      animation: list-item-spin 4s linear infinite;
    }

    &.provisioning, &.leaving, &.destroying {
      stroke: var(--gray-600);
      animation: list-item-pulse 2s linear infinite;
    }

    &.up {
      stroke: var(--primary);
    }

    &.accepted {
      stroke: var(--gray-600);
    }

    &.running {
      stroke: var(--gray-600);
      animation: list-item-spin 4s linear infinite;
    }

    &.cancelled, &.idle, &.destroyed {
      stroke: var(--gray-500);
    }

    &.partial-success {
      stroke: var(--warning);
    }

    &.success {
      stroke: var(--success);
    }

    &.error, &.left {
      stroke: var(--error);
    }
  }

  @media (max-width: $sm) {
    margin-left: 0;
    margin-top: $spacer;
    width: 100%;
  }
}
