@import "css/variables";

.pre {
  background: var(--code-bg);
  color: var(--code-fg);
}

.pre {
  border-radius: $border-radius;
  padding: $spacer * 0.5 0;
  margin-top: 0;
  flex: 1;
  max-width: 100%;

  .code {
    height: calc(100% - #{$spacer});
    margin: $spacer * 0.5 $spacer;
    display: block;
    overflow: auto;
    color: var(--code-fg);
  }
}

.follow-button {
  position: absolute;
  top: $spacer;
  right: $spacer;
  color: var(--code-fg);
  cursor: pointer;
  display: none;

  &:hover {
    color: var(--gray-300);
  }

  &.visible {
    display: inline-block;
  }
}
