@import "css/variables";

@keyframes modal-overlay-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  will-change: opacity;
  animation: modal-overlay-fadein 200ms;
}

.modal {
  display: block;
  background-color: var(--bg);
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-radius: $border-radius;
  padding: $spacer $spacer * 2;
  margin-bottom: $spacer * 2;
  max-width: 40rem;
}

.modal-title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: $spacer;
}
