@import "../css/variables";

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .pagination-page {
    display: flex;
    align-items: center;
    min-width: 1em;
    justify-content: center;

    .page-link {
      border-radius: $border-radius;
      margin: 0 1px;
      padding: .5rem .75rem;

      &:hover {
        background-color: var(--gray-200);
        text-decoration: none;
      }

      @media (max-width: $sm) {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }

    &.disabled {
      color: var(--gray-600);
      padding: .5rem .75rem;

      @media (max-width: $sm) {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }

    &.active .page-link {
      background-color: var(--primary);
      color: var(--bg);
    }
  }
}
