@import "css/variables";
@import "spinkit/spinkit";

.processchainlog {
  position: relative;
  display: none;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  flex: 1;

  &.visible {
    display: flex;
  }
}

.loading {
  --sk-size: 36px;
  --sk-color: var(--code-fg);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--code-bg-alpha);
  margin-bottom: $spacer;
  border-radius: $border-radius;
  display: none;

  .sk-flow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.visible {
    display: block;
  }
}
