@import "css/variables";

.processchainlog {
  position: relative;
  display: none;
  height: 100%;

  &.visible {
    display: flex;
  }
}

.follow-button {
  position: absolute;
  top: $spacer;
  right: $spacer;
  color: #fff;
  cursor: pointer;
  display: none;

  :hover {
    color: $gray-300;
  }

  &.visible {
    display: inline-block;
  }
}
