@import "../css/variables";

aside, .sidebar {
  width: 14rem;
  z-index: 1;

  @media (max-width: $lg) {
    width: 4rem;
  }
}

.sidebar {
  background-color: var(--gray-100);
  padding: $spacer * 2 0;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-logo {
    text-align: center;
    margin-right: 1rem;

    @media (max-width: $lg) {
      margin-left: 1rem;
      margin-top: .5rem;
    }
  }

  .steep-icon {
    display: none;
    max-width: 100%;
  }

  @media (max-width: $lg) {
    .steep-logo {
      display: none;
    }

    .steep-icon {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    margin-top: $spacer * 2;
    margin-left: $spacer * 2.5;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;

    @media (max-width: $lg) {
      margin-left: 0;
    }

    .nav-item {
      display: inline-flex;
      height: 3rem;
      position: relative;

      @media (max-width: $lg) {
        justify-content: center;

        .nav-item-text {
          display: none;
        }
      }
    }

    .nav-item-link {
      color: var(--gray-800);
      display: flex;
      width: 100%;
      align-items: center;

      &:hover {
        text-decoration: none;
        color: var(--gray-600);
      }

      &:hover {
        @media (max-width: $lg) {
          color: var(--gray-800);
          background-color: var(--gray-300);

          .nav-item-text {
            position: absolute;
            top: 0;
            left: 100%;
            white-space: nowrap;
            background-color: var(--gray-300);
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 $spacer;
          }
        }
      }

      :global(svg) {
        height: 1.1em;
        width: auto;
        margin-right: .5em;
        margin-bottom: 2px;
        line-height: 1.7;

        @media (max-width: $lg) {
          margin-right: 0;
        }
      }
    }
  }
}

.sidebar-main {
  display: flex;
  flex-direction: column;
}

.sidebar-footer {
  margin-left: $spacer * 2.5;
  display: flex;

  @media (max-width: $lg) {
    justify-content: center;
    margin-left: 0;
  }
}
