@import "../css/variables";

.version-info {
  dl {
    margin: 0;

    dt:not(:first-of-type) {
      padding-top: $spacer;
    }

    dt {
      font-weight: 400;
    }

    dd {
      margin: 0;
    }
  }
}