@import "css/variables";

.service-details, .retry-policy-details, .timeout-policy-details {
  .service-details-dl {
    display: flex;
    flex-wrap: wrap;
  }

  .service-details-left {
    width: 40%;
  }

  .service-details-right {
    flex: 1;
  }

  .service-details-left {
    margin-bottom: $spacer;
  }

  .service-details-value {
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
  }

  @media (max-width: $md) {
    .service-details-dl {
      flex-direction: column;
    }

    .service-details-left {
      width: 100%;
    }

    .service-details-right {
      width: 100%;
    }
  }
}

.retry-policy-details, .timeout-policy-details {
  border-top: 1px solid var(--border-color);
  padding-top: $spacer * 2;
}

.service-parameter {
  display: flex;
  border-top: 1px solid var(--border-color);
  padding-top: $spacer * 2;

  h4, h5 {
    font-size: 1rem;
    margin: 0;
  }

  .service-parameter-left {
    width: 30%;
    border-right: 1px solid var(--border-color);
    padding-right: $spacer;
    margin-right: $spacer;
  }

  .service-parameter-right {
    flex: 1;
  }

  .service-parameter-right {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-column-gap: $spacer * 2;

    .service-parameter-value {
      overflow-x: auto;
    }
  }

  @media (max-width: $md) {
    flex-direction: column;

    .service-parameter-left {
      width: 100%;
      border: none;
    }

    .service-parameter-right {
      width: 100%;
      margin-top: $spacer;
    }
  }
}

.service-parameter + .service-parameter {
  margin-top: $spacer * 2;
}
