# first exclude everything
**

# then include JobManager (built with `./gradlew installDist`)
!build/install/jobmanager3

# also include conf files
!conf

# and files needed for the docker image
!docker
