<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
            </layout>
        </encoder>
        <file>jobmanager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>jobmanager.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 7 days' worth of history capped at 100MB total size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.mongodb" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="org.apache.http" level="INFO" />
    <logger name="org.jboss.resteasy" level="INFO" />
    <logger name="org.openstack4j.core.transport.internal" level="INFO" />
    <logger name="com.hazelcast" level="INFO" />
    <logger name="com.zaxxer.hikari.pool" level="INFO" />

    <variable name="JOBMANAGER_LOG_LEVEL" value="${JOBMANAGER_LOG_LEVEL:-DEBUG}" />
    <root level="${JOBMANAGER_LOG_LEVEL}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>