<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- can be used to disable logback's debug output -->
    <!-- <statusListener class="ch.qos.logback.core.status.NopStatusListener" /> -->

    <if condition='org.apache.commons.lang3.BooleanUtils.toBoolean(p("STEEP_LOGGING_ENABLEJSON"))'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                        <appendLineSeparator>true</appendLineSeparator>
                    </layout>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                    </layout>
                </encoder>
            </appender>
        </else>
    </if>

    <logger name="org.mongodb" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="org.apache.http" level="INFO" />
    <logger name="org.jboss.resteasy" level="INFO" />
    <logger name="org.openstack4j.core.transport.internal" level="INFO" />
    <logger name="com.hazelcast" level="INFO" />
    <logger name="com.mitchellbosecke.pebble" level="INFO" />
    <logger name="com.zaxxer.hikari.pool" level="INFO" />

    <!-- Suppress errors if migration status could not be read (which happens
         on the OTC for instance). We don't need it anyhow. -->
    <logger name="org.openstack4j.model.storage.block.Volume$MigrationStatus" level="OFF" />

    <variable name="STEEP_LOG_LEVEL" value="${STEEP_LOG_LEVEL:-DEBUG}" />
    <root level="${STEEP_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>