<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
            </layout>
        </encoder>
        <file>jobmanager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>jobmanager.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 7 days' worth of history capped at 100MB total size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="PCL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
            </layout>
        </encoder>
        <file>processChainLog/processChainLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>processChainLog/processChainLog.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 7 days' worth of history capped at 100MB total size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <logger name="processChainLog" level="INFO" additivity="false">
        <appender-ref ref="PCL"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>
    
    <logger name="org.mongodb" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="io.netty" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.http" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.jboss.resteasy" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="net.schmizz" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.openstack4j.core.transport.internal" level="INFO">
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>