@import "css/variables";

.vm-details-two-column {
  margin-top: $spacer;
  display: flex;
  flex-direction: row;

  .vm-details-left {
    width: 50%;
  }

  .vm-details-right {
    flex: 1;
  }

  .vm-details-value {
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
  }

  @media (max-width: $md) {
    flex-direction: column;

    .vm-details-left {
      width: 100%;
      margin-bottom: $spacer;
    }

    .vm-details-right {
      width: 100%;
    }
  }

  .vm-details-volume-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
