@import "css/variables";

.left-two-columns {
  .detail-header-middle {
    margin-top: 1rem;
  }

  @media (min-width: $xl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;

    .detail-header-middle {
      margin-top: 0;
    }
  }
}
