@import "css/variables";

.search-container {
  margin-top: $spacer * 2.6;
}

.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: $spacer * 0.75;
  margin-bottom: 1px;
}

input {
  width: 40rem;
  max-width: 100%;
  padding-left: $spacer * 2.5;
}
