$% extends "html/base.html" %$

$% block title %$ $$ name $$ &raquo; Services &raquo; JobManager $% endblock %$

$% block content %$
<div id="app">

  <div class="ui container" v-cloak>

    <h1 class="ui header">$$ name $$ ($$ id $$)</h1>

    <div class="ui divider"></div>

    <div v-for="s in services" class="services">
      <div class="service">
        <div class="service-left">
          <p class="description">{{ s.description }}</p>
          <div class="ui relaxed list">
            <div class="item">
              <div class="header" v-if="s.runtime !== 'docker'">Path to executable:</div>
              <div class="header" v-if="s.runtime === 'docker'">Docker image:</div>
              {{ s.path }}
            </div>

            <div class="item runtime">
              <div class="header">Runtime:</div>
                <div class="labels">
                  <div class="ui small label">
                    {{ s.runtime }}
                  </div>
                </div>
            </div>

            <div class="item capabilities" v-if="s.required_capabilities.length > 0">
              <div class="header">Required capabilities:</div>
              <div class="labels">
                <div class="ui small label" v-for="rc in s.required_capabilities">
                  {{ rc }}
                </div>
              </div>
            </div>

            <div class="item parameters" v-if="s.runtime_args.length > 0">
              <h2 class="ui header">Runtime arguments:</h2>
              <div class="ui grid">
                <div class="doubling four column row">
                  <div class="column" v-for="ra in s.runtime_args">
                    <div class="ui segment">
                      <h3 class="ui header">{{ ra.name }} ({{ ra.id }})
                        <div class="sub header">{{ ra.description }}</div>
                      </h3>

                      <h5 class="ui header">Data type</h5>
                      {{ ra.data_type }}

                      <h5 class="ui header" v-if="ra.label !== null && ra.label !== undefined">Label</h5>
                      {{ ra.label }}

                      <h5 class="ui header" v-if="ra.value !== null && ra.value !== undefined">Value</h5>
                      {{ ra.value }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item parameters" v-if="s.parameters.length > 0">
              <h2 class="ui header">Parameters:</h2>
              <div class="ui grid">
                <div class="doubling four column row">
                  <div class="column" v-for="p in s.parameters">
                    <div class="ui segment">
                      <h3 class="ui header">{{ p.name }} ({{ p.id }})
                        <div class="sub header">{{ p.description }}</div>
                      </h3>

                      <h5 class="ui header">Type</h5>
                      {{ p.type }}

                      <h5 class="ui header">Cardinality</h5>
                      {{ p.cardinality }}

                      <h5 class="ui header">Data type</h5>
                      {{ p.data_type }}

                      <h5 class="ui header" v-if="p.default !== null && p.default !== undefined">Default value</h5>
                      {{ p.default }}

                      <h5 class="ui header" v-if="p.file_suffix !== null && p.file_suffix !== undefined">File suffix</h5>
                      {{ p.file_suffix }}

                      <h5 class="ui header" v-if="p.label !== null && p.label !== undefined">Label</h5>
                      {{ p.label }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p v-if="services.length === 0">Service not found.</p>

  </div>

</div>
$% endblock %$

$% block additionalScripts %$
<script src="$$ basePath $$/assets/vue/2.6.6/dist/vue.min.js"></script>

<script>
window.singleService = true;
window.services = $$ services | raw $$;
</script>

<script src="$$ basePath $$$$ assets.servicesjs $$"></script>
$% endblock %$
