@import "css/variables";

.detail-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.deleted {
    text-decoration: line-through;
  }
}

.detail-page-subtitle {
  margin: 0;
  font-size: 1.2rem;
  color: var(--gray-600);
}

.detail-page-divider {
  border: none;
  border-top: 1px solid var(--border-color);
  height: 0;
  margin: $spacer 0;
}

.detail-page-main {
  :global(.alert.error) {
    margin-top: 1rem;
  }

  :global(.detail-header) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  :global(h2) {
    font-size: 1.5rem;
    margin-bottom: $spacer;
  }

  :global(h3) {
    font-size: 1rem;
    margin: 0;
    padding-top: $spacer * 2;
  }

  :global(.alert) {
    white-space: pre;
    overflow-x: auto;
    margin-top: $spacer * 0.5;
    margin-bottom: $spacer * 0.5;
  }

  &.deleted {
    opacity: 0.5;
  }
}

.drop-down-container {
  margin-top: 2rem;
}
