@import "css/variables";

.list-page {
  .pagination {
    display: flex;
    justify-content: center;
    margin: $spacer 0;
  }

  .breadcrumbs {
    margin-bottom: 1rem;
  }

  .list-page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.45rem;
  }

  .filter-list {
    &.has-enabled-filters {
      :global(li):not(.enabled) {
        &:before {
          content: "\00a0";
          padding-left: 24px;
        }
      }
    }
  }
}
