@import "css/variables";

.list-page {
  .list-container.loading {
    // This should be large enough to contain 10 list rows. It is used to
    // allow the browser to restore the scroll position when the user
    // navigates back.
    min-height: 100rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: $spacer 0;
  }

  .breadcrumbs {
    margin-bottom: 1rem;
  }

  .list-page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.45rem;
  }

  .filter-list {
    &.has-enabled-filters {
      :global(li):not(.enabled) {
        &:before {
          content: "\00a0";
          padding-left: 24px;
        }
      }
    }
  }
}

.title-right {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  align-items: center;
  gap: $spacer * 2;
}

.search-container {
  width: 14rem;

  @media (max-width: $md) {
    display: none;
  }
}
