$% extends "html/base.html" %$

$% block title %$ $$ id $$ &raquo; Workflows &raquo; JobManager $% endblock %$

$% block additionalCSS %$
<link rel="stylesheet" type="text/css" class="ui" href="/assets/highlightjs/9.8.0/styles/zenburn.css">
$% endblock %$

$% block content %$
<div id="app">

  <div class="ui container" v-cloak>

    <div v-for="w in workflows" class="workflows">
      
      <h1 class="ui header">{{ w.id }}</h1>

      <div class="ui divider"></div>
      
      <div class="workflow">
        <div class="workflow-left">
          <p v-if="w.status === 'ACCEPTED'">Workflow has not started yet</p>
          <div class="ui relaxed list">
            <div class="item" v-if="w.status !== 'ACCEPTED' && w.startTime">
              <div class="header">Start time:</div>
              {{ w.startTime | moment('dddd, D MMMM YYYY, h:mm:ss a') }}
            </div>
            <div class="item">
              <div class="header">End time:</div>
              <span v-if="w.status !== 'ACCEPTED' && w.status !== 'RUNNING' && w.startTime && w.endTime">
                {{ w.endTime | moment('dddd, D MMMM YYYY, h:mm:ss a') }}
              </span>
              <span v-else>&ndash;</span>
            </div>
            <div class="item" v-if="w.status !== 'ACCEPTED' && w.startTime">
              <div class="header">Time elapsed:</div>
              {{ workflowDuration(w) }}
            </div>
          </div>
        </div>
        <div class="workflow-right">
          <div class="ui steps">
            <div class="running step" :class="{ active: w.status === 'RUNNING', disabled: w.status === 'ACCEPTED' }">
              <i class="cog grey icon"></i>
              <div class="content">
                <div class="title">Running</div>
                <a v-bind:href="'/processchains/?submissionId=' + w.id" v-if="w.status === 'RUNNING'" class="description">
                  {{ w.succeededProcessChains + w.failedProcessChains }} of
                  {{ w.totalProcessChains }} completed
                  ({{ w.runningProcessChains }} running)
                </a>
                <a v-bind:href="'/processchains/?submissionId=' + w.id" v-if="w.status !== 'ACCEPTED' && w.status !== 'RUNNING'" class="description">
                  {{ w.totalProcessChains }} completed
                </a>
              </div>
            </div>
            <div class="step" :class="{ active: w.status !== 'ACCEPTED' && w.status !== 'RUNNING', disabled: w.status === 'ACCEPTED' }">
              <i v-if="w.status === 'ACCEPTED' || w.status === 'RUNNING'" class="flag checkered icon"></i>
              <i v-if="w.status === 'ERROR'" class="exclamation circle red icon"></i>
              <i v-if="w.status === 'PARTIAL_SUCCESS'" class="info circle orange icon"></i>
              <i v-if="w.status === 'SUCCESS'" class="check circle green icon"></i>
              <div class="content">
                <div v-if="w.status === 'ACCEPTED' || w.status === 'RUNNING'" class="title">Finish</div>
                <div v-if="w.status === 'ERROR'" class="title">Error</div>
                <div v-if="w.status === 'PARTIAL_SUCCESS'" class="title">Partial success</div>
                <div v-if="w.status === 'SUCCESS'" class="title">Success</div>
                <div v-if="w.failedProcessChains" class="description red">{{ w.failedProcessChains }} failed</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Workflow source
        </div>
        <div class="content">
          <div class="ui code segment">
            <pre><code class="json">{{ w.workflow }}</code></pre>
          </div>
        </div>
       </div>
    </div>

  </div>

</div>
$% endblock %$

$% block additionalScripts %$
<script src="/assets/sockjs-client/1.3.0/dist/sockjs.min.js"></script>
<script src="/assets/vertx-web-3.6.2-client.js"></script>
<script src="/assets/vue/2.6.6/dist/vue.min.js"></script>
<script src="/assets/vue-moment/4.0.0/dist/vue-moment.min.js"></script>
<script src="/assets/vue-timeago/5.0.0/dist/vue-timeago.min.js"></script>
<script src="/assets/highlightjs/9.8.0/highlight.min.js"></script>

<script>
window.singleWorkflow = true;
window.workflows = $$ workflows | raw $$;
window.processChains = $$ processChains | raw $$;

hljs.initHighlightingOnLoad();

$(function() {
  $(".ui.accordion").accordion();
});
</script>

<script src="$$ assets.workflowsjs $$"></script>
$% endblock %$
