@import "~normalize.css/normalize";
@import "./mixins";

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: $line-height-base;
  color: $gray-700;
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 2rem 0;
  font-weight: 400;
}

h1 {
  font-size: $font-size-base * 2;
  margin-top: 0;
}

h2 {
  font-size: $font-size-base * 1.75;
  margin-bottom: 4rem;
  padding-top: 7rem;
  text-align: center;
}

h3 {
  font-size: $font-size-base * 1.5;
}

h4 {
  font-size: $font-size-base * 1.25;
}

h5 {
  font-size: $font-size-base * 1.10;
}

h6 {
  font-size: $font-size-base * 1;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding-right: $spacer;
  padding-left: $spacer;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    max-width: 540px;
  }

  @media (min-width: $md) {
    max-width: 720px;
  }

  @media (min-width: $lg) {
    max-width: 920px;
  }

  @media (min-width: $xl) {
    max-width: 1100px;
  }
}

.img-fluid {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
    color: darken($primary, 10%);
  }
}

.btn {
  display: inline-block;
  border-radius: $border-radius;
  padding: $spacer * 0.5 $spacer * 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  background-color: $gray-600;
  color: #fff;

  &:hover {
    background-color: darken($gray-600, 10%);
    text-decoration: none;
    color: #fff;
  }

  .feather {
    margin-bottom: 4px;
  }

  .simple-icon {
    fill: currentColor;
    width: 24px;
    margin-bottom: 4px;
  }
}

img {
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.btn-primary {
  background-color: $primary;
  color: #fff;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.container-smaller {
  max-width: 900px;
}

code {
  font-size: .93em;
  color: #cc6b6b;
}

code, pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.hljs, pre {
  background: $gray-700;
  color: #fff;
}

pre {
  border-radius: $border-radius;

  code {
    margin: $spacer / 2 $spacer;
    display: block;
  }
}
