@import "normalize.css/normalize";
@import "nprogress/nprogress";
@import "css/mixins";
@import "css/zenburn";
@import "css/themes";

html {
  box-sizing: border-box;
}

:root {
  font-size: $font-size-base;

  @media (max-width: $lg) {
    font-size: $font-size-base * 0.95;
  }

  @media (max-width: $md) {
    font-size: $font-size-base * 0.9;
  }

  @media (max-width: $sm) {
    font-size: $font-size-base * 0.85;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: $line-height-base;
  color: var(--fg);
  background-color: var(--bg);

  &[data-theme-transition="true"] {
    transition: background-color 0.15s ease-in-out;
  }
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 2rem 0;
  font-weight: 400;
  color: var(--heading-fg);
}

h1 {
  font-size: 2rem;
  margin-top: $spacer * 1.8;
  margin-bottom: $spacer * 1.45;
  overflow-x: auto;
  max-width: 100%;
  display: block;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.10rem;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding-right: $spacer;
  padding-left: $spacer;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    max-width: 540px;
  }

  @media (min-width: $md) {
    max-width: 720px;
  }

  @media (min-width: $lg) {
    max-width: 920px;
  }

  @media (min-width: $xl) {
    max-width: 1100px;
  }
}

.img-fluid {
  max-width: 100%;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
  color: var(--primary);

  &:hover {
    text-decoration: underline;
    color: var(--primary-dark)
  }
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: $border-radius;
  padding: $spacer * 0.5 $spacer * 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  background-color: var(--gray-600);
  color: var(--bg);

  &:hover {
    background-color: var(--gray-600-hover);
    text-decoration: none;
    color: var(--bg);
  }

  .feather {
    margin-bottom: 4px;
  }

  .simple-icon {
    fill: currentColor;
    width: 24px;
    margin-bottom: 4px;
  }

  &.primary {
    background-color: var(--primary);

    &:hover {
      background-color: var(--primary-dark)
    }
  }

  &:disabled {
    cursor: default;
    background-color: var(--gray-600);
    color: var(--gray-300);

    &:hover {
      background-color: var(--gray-600);
    }
  }
}

img {
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--bg);

  &:hover {
    background-color: var(--primary-dark)
  }
}

.btn-error {
  background-color: var(--error);
  color: var(--bg);

  &:hover {
    background-color: var(--error-dark);
  }
}

.container-smaller {
  max-width: 900px;
}

code {
  font-size: .93em;
  color: #cc6b6b;
}

code, pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#nprogress {
  // progress bar should also be in front of the sidebar, so position should
  // be fixed and z-index should be high enough
  position: fixed;
  z-index: 9999;
}

#nprogress .bar {
  background: var(--primary);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
}

#nprogress .spinner-icon {
  border-top-color: var(--primary);
  border-left-color: var(--primary);
}

input {
  font-weight: 300;
  color: var(--gray-700);
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  outline: none;
  padding: .5rem;

  &:focus {
    border-color: var(--gray-500);
  }

  &.small {
    border-radius: $border-radius * 0.5;
    padding: 3px 5px;
  }
}

::placeholder {
  color: var(--placeholder-color);
}
