$font-size-base: 20px;
$font-size-sm: .875rem;

$line-height-base: 1.7;

$primary: #1d71b8;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #3c3c3b;

$spacer: 1rem;

$border-radius: .75rem;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 952px;
$xl: 1160px;
