{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            [
              "styled-jsx-plugin-sass",
              {
                "sassOptions": {
                  "includePaths": ["./node_modules", "."]
                }
              }
            ]
          ]
        }
      }
    ]
  ]
}
