name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11

      - name: Run tests and install
        run: ./gradlew check installDist --parallel

      - name: Create test reports
        run: ./gradlew jacocoTestReport
      - name: Upload code coverage report
        run: bash <(curl -s https://codecov.io/bash) -s build/reports/jacoco

      - name: Build Docker image
        run: |
          docker build -t steep/steep .
          docker tag steep/steep steep/steep:unstable

      - name: Push Docker image
        if: github.repository == 'steep-wms/steep' && github.event_name == 'push'
        env:
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        run: |
          echo $DOCKER_HUB_ACCESS_TOKEN | docker login --username $DOCKER_HUB_USERNAME --password-stdin
          docker push steep/steep:unstable
